nav{
    width: 300px;
}
ul {
    list-style: none;
    padding-inline-start: 0px;
    background-color: blueviolet;
    padding: 20px;
    border-radius: 15px;
}
ul li a{
    background-color:rgb(5, 27, 66);
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
    display: block;
    padding: 0px 0px 0 40px;
    border-radius: 5px;
}
ul li{
    border-bottom: 1px solid white;
    transition: 300ms all;
    padding: 20px;

}
ul li:last-child{
    border-bottom: none;
}
ul li a:hover{
    background-color: white;
    transform: scale(1.2);
    color: rgb(5, 27, 66);

}